.group-cart {
	width: 75%;
	background-color: #fff;
	margin: auto;
	padding: 2rem;
	border-radius: 5px;
}

.header-cart {
	display: flex;
	align-items: center;
	box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.15);
	padding: 1rem;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}

.col-1 {
	flex: 1;
}

.col-2 {
	flex: 1.5;
}

.col-3 {
	flex: 1;
}

.col-4 {
	flex: .5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.group-body {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	margin-top: 1rem;
	padding: 1rem;
}

.row-cart {
	display: flex;
	align-items: center;
}
